includes:
    - vendor/rollerscapes/standards/phpstan.neon
    - phpstan-baseline.neon

parameters:
    #reportUnmatchedIgnoredErrors: false
    #checkNullables: false
    treatPhpDocTypesAsCertain: false

    tmpDir: %currentWorkingDirectory%/var/phpstan
    level: 5

    paths:
        - ./lib
    excludePaths:
        - lib/*/Tests/Fixtures/*
        - lib/Symfony/SearchBundle/Tests/Functional/Application
        - lib/Doctrine/Dbal/Tests/DbalExtensions/LegacySqlLogger.php

    ignoreErrors:
        -
            path: lib/Symfony/SearchBundle/DependencyInjection/Compiler/ElasticaClientPass.php
            message: "#^Class JoliCode\\\\Elastically\\\\Client not found\\.$#"

        -
            path: lib/Core/Tests/Extension/Core/DataTransformer/*.php
            message: '#^Parameter \#1 \$[^\s]+ of method [^:]+\:\:(reverse)?Transform\(\) expects#i'

        -  '#SearchConditionBuilder\:\:end\(\) on a separate line has no effect#'

        -
            # This is expected as part of the actual test
            message: '#^Parameter \#1 \$searchCondition of method Rollerworks\\Component\\Search\\SearchConditionSerializer\:\:unserialize\(\) expects array\{string, string\}#'
            identifier: argument.type
            path: lib/Core/Tests/SearchConditionSerializerTest.php

        -
            # Forward compatible
            message: '#^Call to function method_exists\(\) with Rollerworks\\Component\\Search\\Input\\Validator and ''initialize'' will always evaluate to true\.$#'
            path: lib/Core/Input/*.php

        - '#Call to an undefined static method Carbon\\Translator\:\:get\(\)#'
